<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Brynn Evans</div>
        <div class="user-twitter">@brynn</div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div>
      </div>
    </div>

    <div>
      <ion-checkbox ng-model="karcis">Tidak Ada Karcis</ion-checkbox>
      <ion-checkbox ng-model="seragam">Tidak Berseragam</ion-checkbox>
      <ion-checkbox ng-model="tarif">Tarif Tidak Sesuai</ion-checkbox>

      <div class="submit-button">
          <button class="button button-block button-positive">
              Submit
          </button>
      </div>
    </div>
  </ion-content>

  <ion-tabs>
      <ion-tab title="Lapor Parkir Ilegal" ui-sref="app.profile">
          <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="Lapor Parkir Legal" ui-sref="app.profile2">
          <!-- Tab 2 content -->
      </ion-tab>
  </ion-tabs>
</ion-view>
